
<div class="container">
    <div class="row">
        <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                    <form #signUp="ngForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="userName">Username</label>
                    <input type="text" ngModel name="username" class="form-control" id="userName">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" ngModel name="email" class="form-control" id="email">
                </div>
                <button 
               [disabled]="signUp.invalid"
                type="submit" class="btn btn-sm btn-block btn-info">Sign Up</button>
            </form>
            </div>
        </div>
        </div>
    </div>
</div>
